# editorconfig.org
root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true

[{*.c,*.cpp,*.h,*.ino}]
end_of_line = lf

[{*.c,*.cpp,*.h,*.ino}]
charset = utf-8
indent_style = tab
indent_size = 2

[*.md]
# Two spaces at the end of the line means newline in Markdown
trim_trailing_whitespace = false

[{*.conf,*.sublime-project}]
indent_style = tab
indent_size = 4
